<div class="container my-5">
  <h1>Result</h1>

  <div class="d-flex flex-column justify-content-center p-2">
    <h2><%= @result %></h2>
    <%= link_to "Play again", new_path, class: "btn btn-primary btn-lg" %>
    <h3>Your total score is : <%= @score %></h3>

  </div>
</div>
